#Footer {
    background-color: #02021e;
    margin: 0;
}

.Footer-section {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 120px 0 120px 0;
}

.Footer-title h2 {
    font-family: 'Lobster', cursive;
    color: white;
    font-size: 60px;
    margin: 0;
}

.Footer-links {
    display: flex;
    flex-direction: row;
    padding: 50px 0;
}

.Footer-social {
    width: 70px;
    height: 70px;
    text-decoration: none;
    border: solid #9fccfa 2px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.Footer-social:hover {
    border: none;
    background: -webkit-linear-gradient(90deg, hsla(210, 90%, 80%, 1) 0%, hsla(212, 93%, 49%, 1) 100%);
}

.Footer-link i {
    font-size: 35px;
    color: #cacddb;
}

.Footer-copyright {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Footer-copyright p {
    margin: 0;
    color: #8c93bd;
    font-family: Montserrat,sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.78;
    letter-spacing: .44px;
}

.Footer-copyright i {
    margin: 0;
    color: #8c93bd;
    margin-right: 10px;
}